.logo {
  height: 20px;
  width: 35px;
  float:left;
  padding-left:10px;
}

a {
  text-decoration: none;
  font-family:sans-serif;
  font-size:12px;
  color:#f44250;
}
p a {
  float:right;
}

.left-nav {
  padding-left:50px;
}
.right-nav {
  text-align:right;
  margin-top:-20px;
  padding-right:10px;
}

.cart {
  height:13px;
  width:16px;
  margin-right:-7px;
}

nav a {
  margin-left:5px;
  padding-left:5px;
  padding-right:5px;
}

.section-1 {
  background-image: linear-gradient(to right, #f44250, orange);
  /*background-color:#f47a42;*/
  /*background:linear-gradient (to right, #f47a42 0%, orange 100%)*/
  color:white;
  font-family: ‘Raleway’, sans-serif;
  text-align:left;
  padding-top:40px;
  /*padding-bottom:40px;*/
  margin-top:10px;
}

.arrow {
  height:15px;
  width:25px;
  float:left;
  display:block;
}

.back-link {
    color:white;
    font-size:12px;
    /*float:left;*/
}

.shoe-1 {
  height: 180px;
  width: 300px;
  /*float:left;*/
  margin-top:30px;
  margin-right:30px;
  /*display:inline-block;*/
  /*margin:20px;*/
}

.section-1-container {
  width:800px;
  margin-left:auto;
  margin-right:auto;
  /*border:1px solid black;*/
}
.section-1-right-container, .section-1-left-container {
  display:inline-block;
  /*border:1px solid black;*/
  width:350px;
  height:300px;
}

.section-1-left-container {
  /*padding-top:20px;*/
}

.spring-summer {
  /*padding-top:5px;*/
  font-size:9px;
  font-weight:lighter;
  color:#aa0b31;
}
.section-3 div {
  padding-top:5px;
  font-size:9px;
  font-weight:lighter;
  color:#aa0b31;
}
sup {
    vertical-align: top;
    font-size:9px;
    letter-spacing:normal;
}

.buy-now-button {
  /*border:1px solid black;*/
  text-align:center;
  color:#f44250;
  font-size:11px;
  height:20px;
  width:80px;
  padding-top:10px;
  padding-bottom:3px;
  padding-left:2px;
  padding-right:2px;
  background-color:white;
  border-radius:9px;
  margin-left:10px;
}

.buy-container div {
  display:inline-block;
}

h1 {
  font-size:26px;
  font-family:sans-serif;
  color:white;
}
/*
.section-1 h6 {
  color:blue;
  font-variant:small-caps;
  font-family:sans-serif;
}*/
.section-1 .p-1 {
  font-size:13px;
  font-family:sans-serif;
  line-height:1.75;
  color:white;
}
.section-1 .p-2 {
  font-size:22px;
  font-family:sans-serif;
  line-height:1.75;
  color:white;
}
.section-2 {
  display:block;
  font-family:sans-serif;
  font-size:12px;
  text-align:left;
  /*border:1px solid black;*/
  width:800px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:20px;
}
.section-2-header-tabs {
  display:inline-block;
  color: #aa0b31;
  margin-top:20px;
}
.product-details, .size-fit {
  display:inline-block;
  margin-right:30px;
}

.star {
  width:15px;
  height:15px;
}
.review-star-container {
  display:inline-block;
  /*float:right;*/
}
.line {
  width:auto;
  border:1px solid #f44250;
}
.section-3-header {
  width:auto;
  height:35px;
  background-color:#ffe5c9;
  font-family:sans-serif;
  font-weight:normal;
  padding-top:10px;
  padding-bottom:10px;
  /*margin-bottom:40px;*/
  margin-top:40px;
  /*padding-bottom:5px;*/
  text-align:center;
}

.section-3 {
  /*width-auto;*/
  background-image: linear-gradient(to right, #f44250, orange);
}
.section-3 p {
  font-family:sans-serif;
  color:white;
  font-size:14px;
}
.section-3 div {
  color:#aa0b31;
  font-family:sans-serif;
  font-size:9px;
  margin-top:-15px;
  font-weight: lighter;
}

.shoe-2 {
  width:165px;
  height:105px;
}
.shoe-3, .shoe-4 {
  width:185px;
  height:125px;
}
.shoe-2-block, .shoe-3-block, .shoe-4-block {
  display:inline-block;
  padding:40px;
  /*margin-left:auto;
  margin-right:auto;*/
}
.section-3-shoe-container {
  width:800px;
  margin-left:auto;
  margin-right:auto;
}

footer {
  font-family:sans-serif;
  font-size:10px;
  color:gray;
}
